{% templatetag openblock %} load static {% templatetag closeblock %} 
<!DOCTYPE html>
<html lang="en">

<head>
    {% templatetag openblock %} block meta {% templatetag closeblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--FAVICON-->
        <link rel="icon" href="{% templatetag openblock %} static 'authentication/img/favicon.png' {% templatetag closeblock %}" type="image/png" sizes="16x16">
    {% templatetag openblock %} endblock meta {% templatetag closeblock %}

    <title>{% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openblock %}endblock {% templatetag closeblock %} - {{ project_name }} </title>

    {% templatetag openblock %} block css {% templatetag closeblock %}
        <!--CALENDAR-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css"
              integrity="sha512-aV/CBF2tMLcys/fQfJ+0vGZRrPYRrA0KNuwqpdaSz9RCmWQIjrdybgvvHxRnzohAFV0e1B5EsnHR6W3XnH7ryg=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>


        <!--BOOTSTRAP-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
              integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
              crossorigin="anonymous">
        <!--FONTAWESOME 5-->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css"
              integrity="sha384-xVVam1KS4+Qt2OrFa+VdRUoXygyKIuNWUUUBZYv+n27STsJ7oDOHJgfF0bNKLMJF"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
              integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous"/>


        <!--LINEAR ICONS-->
        <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">


        <!--GOOGLE FONTS-->
        <link
                href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Source+Serif+Pro:wght@400;600;700&display=swap"
                rel="stylesheet">
        <link
                href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
                rel="stylesheet">

        <!--CUSTOM STYLE-->
        <link rel="stylesheet" href="{% templatetag openblock %} static 'authentication/css/main.css' {% templatetag closeblock %}"/>
        <link rel="stylesheet" href="{% templatetag openblock %} static 'authentication/css/custom_calendar.css' {% templatetag closeblock %}"/>
    {% templatetag openblock %} endblock {% templatetag closeblock %}
</head>

<body class="dark">
{% templatetag openblock %} block content{% templatetag closeblock %} {% templatetag openblock %} endblock{% templatetag closeblock %}

{% templatetag openblock %} block js {% templatetag closeblock %}
    <!--JQUERY-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>


    <!--CALENDAR INITIALIZE-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                // put your options and callbacks here
                defaultView: 'month',

                header: {
                    left: 'title',
                    center: '',
                    right: 'prev,next'
                },
            })

            $('.menu-btn').click(function () {
                $('.sidebar').show();
            });

            $('.close-btn').click(function () {
                $('.sidebar').hide();
            });
        });
    </script>
    <script src="{% templatetag openblock %} static 'authentication/js/custom-script.js' {% templatetag closeblock %}"></script>
{% templatetag openblock %}endblock {% templatetag closeblock %}
</body>
</html>