@import 'main.css';

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: transparent;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    float: left;
    color: white;
}

.fc-unthemed td {
    border-radius: 5px;
}

.fc-unthemed td.fc-today {
    background-color: #4e4f50;
}

.fc-day-header {
    display: none;
}

.fc-day {
    background: #1f1f20;
}

.fc-day-number {
    margin-left: 10px;
    margin-top: 10px;
}

.fc-state-default {
    all: unset;
}

.fc-prev-button,
.fc-next-button {
    width: 50px !important;
    height: 50px !important;
    border-radius: 5px;
    background-color: #282829;
    color: #111213;
    margin-left: 5px !important;
}

.fc-view-container table {
    border-collapse: separate;
    border-spacing: 2px 1px;
}