<body>
<p>Thank you for using {{ project_name }}. Below is your 4 digit password reset code:</p>
<h1>{{ code }}</h1>

<p>Please enter this code to reset your password. The code expires in 30 minutes.</p>
</body>