<h1>hello, {{ project_name }}</h1>

<ul>
    <li><a href="{% templatetag openblock %} url 'admins:login' {% templatetag closeblock %}">admin login</a></li>
    <li><a href="{% templatetag openblock %} url 'users:login' {% templatetag closeblock %}">user login</a></li>
</ul>