{% templatetag openblock %} include "core/partials/messages.html"{% templatetag closeblock %}

hello admin!

<a href="{% templatetag openblock %} url 'admins:logout' {% templatetag closeblock %}">logout</a>
<a href="{% templatetag openblock %} url 'admins:settings' {% templatetag closeblock %}">settings</a>
