{% templatetag openblock %} extends "authentication/base.html" {% templatetag closeblock %}
{% templatetag openblock %} load crispy_forms_tags {% templatetag closeblock %}
{% templatetag openblock %} load static {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %} Register {% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-xl-3 col-md-5 col-12  login-container px-5">
                <div class="col-12 p-5">
                    <img src="{% templatetag openblock %} static 'authentication/img/logo-sol.png' {% templatetag closeblock %}" alt="{{ project_name }} Logo" class="img-fluid">
                </div>

                {% templatetag openblock %} include "core/partials/messages.html" {% templatetag closeblock %}

                <div class="form-register">
                    <h3 class="form-title">Administrator Registration</h3>
                    <small class="form-short-description txt-color-gray">
                        Administrator side only. Register here to manage
                        your vessel &amp; users.
                    </small>
                </div>


                {% templatetag openblock %}crispy form {% templatetag closeblock %}
                
                <div class="form-group font-weight-bold text-center mt-0 pt-0">
                    <a href="{% templatetag openblock %} url "admins:login" {% templatetag closeblock %}" class="CTA-link">Cancel</a>
                </div>
            </div>

            <!--BANNER-->
            <div class="col-lg-8 col-xl-9 col-md-7  col-12 login-banner d-none d-md-block"></div>
        </div>
    </div>
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block css {% templatetag closeblock %}
    {% templatetag openvariable %} block.super {% templatetag closevariable %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/css/intlTelInput.min.css"
          integrity="sha512-yye/u0ehQsrVrfSd6biT17t39Rg9kNc+vENcCXZuMz2a+LWFGvXUnYuWUW6pbfYj1jcBb/C39UZw2ciQvwDDvg=="
          crossorigin="anonymous"/>
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block js {% templatetag closeblock %}
    {% templatetag openvariable %} block.super {% templatetag closevariable %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/intlTelInput.min.js"
            integrity="sha512-kkBkPRO6dSkCJDPNpW4Bb/1Z585gN++HKcIpClQW9IYI+4gk4yPC+eaE3CSQp3Ex+48NvzUvqmroZtR4gZnt4g=="
            crossorigin="anonymous"></script>
    <script>
        const input = document.getElementById("phone_num");
        const iti = intlTelInput(input, {
            // any initialisation options go here
            default: false,
            separateDialCode: true,
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/utils.js",
        });

        const registrationForm = document.getElementById("id-registrationForm");
        registrationForm.addEventListener("submit", function () {
            input.value = iti.getNumber();
            return true;
        });
    </script>
{% templatetag openblock %} endblock {% templatetag closeblock %}
