{% templatetag openblock %} extends "authentication/base.html" {% templatetag closeblock %}
{% templatetag openblock %} load crispy_forms_tags {% templatetag closeblock %}
{% templatetag openblock %} load static {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %} Change Password {% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-xl-3 col-md-5 col-12  login-container px-5">
                <div class="col-12 p-5">
                    <img src="{% templatetag openblock %} static 'authentication/img/logo-sol.png' {% templatetag closeblock %}" alt="{{ project_name }} Logo" class="img-fluid">
                </div>

                {% templatetag openblock %} include "core/partials/messages.html" {% templatetag closeblock %}

                {% templatetag openblock %}crispy form {% templatetag closeblock %}
            </div>

            <!--BANNER-->
            <div class="col-lg-8 col-xl-9 col-md-7  col-12 login-banner d-none d-md-block"></div>
        </div>
    </div>
{% templatetag openblock %} endblock {% templatetag closeblock %}