{% templatetag openblock %} if messages {% templatetag closeblock %}
    <ul class="messages">
        {% templatetag openblock %} for message in messages {% templatetag closeblock %}
            <div class="alert alert-{% templatetag openvariable %} message.tags {% templatetag closevariable %} alert-dismissible fade show" role="alert">
                <strong>{% templatetag openvariable %} message {% templatetag closevariable %}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% templatetag openblock %} endfor {% templatetag closeblock %}
    </ul>
{% templatetag openblock %} endif {% templatetag closeblock %}